html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #90caf9 !important;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip { 
  background: #333 !important;
  color: #faebd7 !important;
  text-align: center !important;
  font-family: Wagdie_Fraktur_21 !important;
}

.leaflet-container a { 
  color: #faebd7 !important;
  text-decoration: none;
}

a.leaflet-control-zoom-in, a.leaflet-control-zoom-out { 
  color: #333 !important;
}

.leaflet-container {
  background: #000 !important;
}