@font-face {
  font-family: Wagdie_Fraktur_21;
  src: url('../public/fonts/Wagdie_Fraktur_21.otf');
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #353535;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: Wagdie_Fraktur_21;
  color: whitesmoke;
}

.map {
  display: flex;
  height: 100vh;
  width: 100vw;
}