@font-face {
  font-family: Wagdie_Fraktur_21;
  src: url('../public/fonts/Wagdie_Fraktur_21.otf');
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #353535;
}

.map {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.legend {
  background-color: #353535;
  padding: 20px;
}

.legendHeader {
  color: #faebd7;
  font-family: Wagdie_Fraktur_21;
}

.legendText {
  color: #faebd7;
}