.layerPanel {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 12px;
  z-index: 1000;

  background: #222;

  width: auto;
  height: auto;

  color: #faebd7;
}

.layerPanel h3 {
  font-family: EskapadeFraktur-Black;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 8px;
}

.layerButtonsContainer {
  text-transform: uppercase;
  border-bottom: 1px solid #faebd7;
}

.layerButton {
  border-top: 1px solid #faebd7;
}

.layerButtonsContainer div {
  height: 55px;
  padding: 6px;

  align-items: center;
  display: flex;
  flex-direction: row;

  color: grey;
  font-family: EskapadeFraktur-Black;

  cursor: pointer;
  user-select: none;
}
