.legendContainer {
  position: fixed;
  bottom: 0;
  left: 24px;
  z-index: 1000;

  background: #222;

  width: auto;
  height: auto;

  color: #faebd7;
}

.legendTitle {
  display: flex;
  font-family: EskapadeFraktur-Black;
  height: 80px;
  width: 500px;

  justify-content: space-between;
  align-items: center;
  padding: 0px 8% 0px 3%;

  cursor: pointer;
  user-select: none;

  color: #faebd7;

  top: 0;
  left: 0;
  line-height: 0;
}

.legendTitle h1 {
  max-width: 100%;
  padding: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.legendContent {
  padding: 24px 8% 24px 8%;
  margin: 0 auto;
  position: relative;
  max-height: 60vh;
  height: 500px;
  width: 500px;

  background: #333;

  overflow-y: scroll;

  font-size: 1rem;
  line-height: 1.25em;
  font-weight: 300;
  transition: height 2s ease-out;
}

.legendContent h1 {
  font-family: EskapadeFraktur-Black;
}

.borderLeft {
  position: absolute;
  top: 2px;
  left: 2px;
}

.borderRight {
  position: absolute;
  top: 2px;
  right: 2px;
}

.flexGrid {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  flex-wrap: wrap;
  background: #333;
}

.alive {
  display: flex;
  width: 84px;
  height: 84px;
  border: 2px solid #333;
  position: relative;
}

.alive:hover {
  cursor: pointer;
  border: 2px solid #faebd7;
}

.burnedImageContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 84px;
  height: 84px;
  border: 2px solid #333;
}

.burnedImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 84px;
  border: 2px solid #333;
}

.fireImage {
  position: relative;
  top: 0;
  left: 0;
  width: 84px;
  height: 84px;
  border: 2px solid #333;
  opacity: 0.5;
}

.yourCharactersHeader {
  justify-content: space-between;
  display: flex;
  align-content: center;
}

.stakeButton {
  color: #ffffff;
  background: #3182ce;
  border: 2px solid #3182ce;
  border-radius: 4px;
  width: auto;
  height: 30px;
  padding: 4px;
  text-align: center;
  opacity: 0.8;
  font-family: EskapadeFraktur-Black;
}

.stakeButton:hover {
  cursor: pointer;
  opacity: 1;
}

.stakeButtonDisabled {
  color: #ffffff;
  background: gray;
  border: 2px solid gray;
  border-radius: 4px;
  width: auto;
  height: 30px;
  padding: 4px;
  text-align: center;
  opacity: 0.8;
  font-family: EskapadeFraktur-Black;
  pointer-events: none;
}

.stakeButtonDisabled:hover {
  cursor: not-allowed;
}

.stakeButtonLocked {
  color: #ffffff;
  background: #e53e3e;
  border: 2px solid #e53e3e;
  border-radius: 4px;
  width: auto;
  height: 30px;
  padding: 4px;
  text-align: center;
  opacity: 0.8;
  font-family: EskapadeFraktur-Black;
}

.stakeButtonLocked:hover {
  cursor: pointer;
  opacity: 1;
}

.walletCharacterStakedOverlay {
  color: #ffffff;
  background: darkslategrey;
  /* border: 2px solid darkslategrey; */
  /* border-radius: 4px; */
  width: 80px;
  /* height: 30px; */
  padding-top: 2px;
  text-align: center;
  opacity: 0.8;
  font-family: EskapadeFraktur-Black;
  position: absolute;
  font-size: 12px;
  bottom: 0px;
}

.search {
}

.search > input {
  padding: 8px;
  color: #353535;
  font-family: EskapadeFraktur-Black;
}

@media (max-width: 600px) {
  .legendContainer {
    left: 0;
  }

  .legendContent,
  .legendTitle {
    width: 100vw;
  }

  .legendTitle h1 {
    font-size: 1.25em;
  }
}
